# Ignore node_modules (Angular)
node_modules/
dist/
.angular/cache/
graphQlAngular/.angular/cache/
package-lock.json
graphQlAngular/.editorconfig
graphQlAngular/.vscode/extensions.json
graphQlAngular/.vscode/launch.json
graphQlAngular/.vscode/tasks.json

# Ignore .NET build and config files
bin/
obj/
*.user
*.suo
*.vspscc
.vs/

# Ignore environment files
graphQlAngular/src/environments/*.ts

# Ignore logs
*.log

# Ignore Docker volumes (optional)
volumes/

*.bak